NODE_ENV=development
PORT=3001

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=project_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=
CACHE_TTL=300

# JWT
JWT_SECRET=your-secret-key-min-32-characters-long-please-change-this
JWT_EXPIRES_IN=7d

# Client
CLIENT_URL=http://localhost:3000
